################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/src/CFS.Dal/bin
/src/CFS.Dal/bin
/src/CFS.Dal/obj
/src/CFS.Winform/bin
/src/CFS.Winform/obj
/src/CFS.Domain/bin
/src/CFS.Domain/obj
