################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/src/Build
/src/Nowa.Dal/bin
/src/Nowa.Dal/bin
/src/Nowa.Dal/obj
/src/Nowa.Winform/bin
/src/Nowa.Winform/obj
/src/Nowa.Domain/bin
