<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExamPro.Services.SettingsLaudoDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ExamPro.Services.SettingsExamDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ExamPro.Services.SettingsLaudo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ExamPro.Services.SettingsExam" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <ExamPro.Services.SettingsLaudoDefault>
      <setting name="Title" serializeAs="String">
        <value>Laudo {0}</value>
      </setting>
      <setting name="Min" serializeAs="String">
        <value>255, 192, 128</value>
      </setting>
      <setting name="Max" serializeAs="String">
        <value>128, 255, 128</value>
      </setting>
      <setting name="Res" serializeAs="String">
        <value>Blue</value>
      </setting>
    </ExamPro.Services.SettingsLaudoDefault>
    <ExamPro.Services.SettingsExamDefault>
      <setting name="Title" serializeAs="String">
        <value>Exame {0}</value>
      </setting>
      <setting name="Min" serializeAs="String">
        <value>255, 192, 128</value>
      </setting>
      <setting name="Max" serializeAs="String">
        <value>128, 255, 128</value>
      </setting>
      <setting name="Res" serializeAs="String">
        <value>Blue</value>
      </setting>
    </ExamPro.Services.SettingsExamDefault>
    <ExamPro.Services.SettingsLaudo>
      <setting name="Title" serializeAs="String">
        <value>Laudo {0}</value>
      </setting>
      <setting name="Min" serializeAs="String">
        <value>255, 192, 128</value>
      </setting>
      <setting name="Max" serializeAs="String">
        <value>128, 255, 128</value>
      </setting>
      <setting name="Res" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Area" serializeAs="String">
        <value>MediumAquamarine</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Blue</value>
      </setting>
    </ExamPro.Services.SettingsLaudo>
    <ExamPro.Services.SettingsExam>
      <setting name="Title" serializeAs="String">
        <value>Amostra de {0} no período {1} - {2}</value>
      </setting>
      <setting name="Marca" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="Res" serializeAs="String">
        <value>Chartreuse</value>
      </setting>
      <setting name="Area" serializeAs="String">
        <value>PowderBlue</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Blue</value>
      </setting>
    </ExamPro.Services.SettingsExam>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
</configuration>